<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Venta_.Net_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Venta_.Net_.Properties.Settings>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Check" serializeAs="String">
                <value>False</value>
            </setting>
        </Venta_.Net_.Properties.Settings>
    </userSettings>
</configuration>